body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffe5cc; /* Light orange hue for the background */
}

.app {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: #ffa500; /* Orange color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 10px;
}

button:hover {
  background-color: #666666;
}

.card {
  width: 200px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.card-image {
  width: 100%;
}

.card-body {
  padding: 10px;
  text-align: center;
}

.card-body .category {
  color: #a1a1a1;
}

.card-body h3 {
  margin: 10px 0;
  font-size: 1.5em;
}

.recipe-list,
.favorite-recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.recipe-details {
  width: 60%; /* Reduced width */
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}




.recipe-details img {
  width: 80%; /* Smaller photo */
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

.recipe-details h2 {
  font-size: 2em;
  margin: 20px 0;
  text-align: center;
  color: #ff8800; /* Orange color for the header */
}

.recipe-details p,
.recipe-details ul {
  font-size: 1em;
  line-height: 1.6;
  text-align: center;
  color: #333333;
}

.recipe-details ul {
  list-style-type: none;
  padding: 0;
}

.recipe-details ul li {
  margin: 5px 0;
}

.header {
  background-color: #ff8800;
  color: white;
  padding: 20px;
  display: flex;
  border-radius: 39px;
  justify-content: space-between;
  align-items: center;
}

.header .ladha h1 {
  margin: 0;
  text-align: center;
}

.header .nav-bar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.header .nav-bar a:hover {
  text-decoration: underline;
}

.form-control {
  border-radius: 10px;
  width: 400px;
  height: 30px;
  outline: none;
  border: none;
  margin-top: 10px;
}

.btn {
  background-color: orange;
  color: white;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}

.btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.search-bar {
  margin-bottom: 20px; /* Space between search bar and list */
}

.favorite-recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.favorite-recipe-card {
  width: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.favorite-recipe-image {
  width: 100%;
  border-radius: 10px;
}

.favorite-recipe-details {
  padding: 10px;
}

.favorite-recipe-details h3 {
  margin: 10px 0;
}

.favorite-recipe-details .category {
  color: #a1a1a1;
}

.favorite-icon {
  cursor: pointer;
}
.favorites-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

